@import "./layout/footer";
@import "./layout/nav";
@import "./main/color";
@import "./main/flex";
@import "./main/general";
@import "./pages/home";
@import "./main/fonts";
@import "./pages/home";
@import "./pages/dresses";
@import "./pages/cart";
@import "./pages/accesories";
@import "./pages/newcollection";
@import "./pages/checkout";
@import "./layout/filter";