@import "../main/color";
@import "../main/flex";
@import "../main/fonts";
@import "../main/general";

// Dropdown Menu

.filter__container {
    @include flex(row, flex-end);
    border-bottom: $secondary-color 1px solid;
    .dropdown {
        position: relative;
        margin: .5rem;
        .button__sortby, .button__filterby {
            @include font (1.5rem);
            text-transform: uppercase;
            letter-spacing: .2rem;
            color: $dark;
            padding: .3rem 3rem;
            border: none;
            border-left: $secondary-color 1px solid;
            background-color: $base-color;
        }
        .dropdownmenu__sortby {
            display:none;
            position: absolute;
            left: 0;
            top: calc(100% + .80rem);
            @include font (1.2rem);
            background-color: $beige;
            color: $secondary-color;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .1);
            ul {
                padding: 0rem;
                margin: 0rem;
                li {
                    padding: .5rem 2.5rem;
                    cursor: pointer;
                    &:hover {
                        background-color: $secondary-color;
                        color: $dark;
                    }
                }
            }

        }
        .dropdownmenu__filterby {
            display:none;
            position: absolute;
            left: 0;
            top: calc(100% + .80rem);
            @include font (1.2rem);
            background-color: $beige;
            color: $secondary-color;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .1);
            ul {
                #filter__clear {
                    text-transform: uppercase;
                    cursor: pointer;
                    background-color: $beige;
                    color:$dark;
                }
                padding: 0rem;
                margin: 0rem;
                #filter__subtitles {
                    text-transform: uppercase;
                    background-color:$secondary-color;
                    color: $beige;
                    cursor: pointer;
                }
                li {
                    padding: .5rem 3rem;
                    cursor: pointer;
                    &:hover {
                        background-color: $secondary-color;
                        color: $dark;
                    }
                }
            }
            #filter__length{display:none;}
            #filter__neck{display:none;}
            #filter__sleeve{display:none;}
            #filter__color{display:none;}
            #filter__material{display:none;}
            #filter__categories{display:none;}
        };
}
}

@media only screen and (max-width: 768px) {


    .filter__container {
        @include flex(row, flex-end);
        .dropdown {
            margin: 0rem;
            .button__sortby, .button__filterby {
                @include font (1.2rem);
                padding: 0rem 3rem;
            }
            .dropdownmenu__sortby {width: 150px;}
            .dropdownmenu__filterby {
                @include font (1.2rem);
                width: 130px;
                ul {
                    li {padding: .5rem 4rem;}
                    #filter__clear {padding: .5rem;}
                    #filter__subtitles {padding: .5rem;}
                }
            };
    }
    }
}