@import "../main/color";
@import "../main/flex";
@import "../main/fonts";
@import "../main/general";


nav {
    width: 99vw;
    font-size: 25px;
    background-color: $base-color;
    .nav__first {
        @include flex(row, center);
        .nav__logo{
            list-style-type: none;
            .nav__logoprincipal {
                @include font (3.5rem);
                margin: 1rem 0rem -.5rem 0rem;
                a{
                    text-decoration: none;
                    color: $dark;
                }
            }
        }
    }
    .nav__login--container{
        ul{
            @include flex(row, center);
            .goback {
                @include font (2rem);
                position: absolute;
                z-index: 1;
                top: 15px;
                left: 30px; 
            }
            .circle {
                background-color:$secondary-color;
                color: $base-color;
                text-align: center;
                border-radius: 50%;
                font-size: 1.3rem;
                height: 20px;
                width: 20px;
                position: absolute;
                z-index: 1;
                top: 22px;
                right: 15px;
            }
            a {color: $secondary-color;
                text-decoration: none;
                &:hover {color:$dark;
                }
                #shoppingcart {
                    font-size: 1.8rem;
                    z-index: 1;
                    color: $secondary-color;
                    position: absolute;
                    z-index: 1;
                    top: 22px;
                    right: 45px; 
                }
            }
        }
    }
    .nav__second {
        background-color: $secondary-color;
        padding: 1.5rem 0rem 1rem 0rem;
        ul {
            @include flex(row, space-around);
            @include font (1.5rem);
            list-style-type: none;
            text-transform: uppercase;
            letter-spacing: 4px;;
            a{
                text-decoration: none;
                color: $beige;
                &:hover {color:$base-color;}
            }
        }
    }
   
}

/* MOBILE */

@media only screen and (max-width: 600px) {

    nav {
        width: 99%;
        font-size: 20px;
        .nav__first {
            .nav__logo{.nav__logoprincipal {@include font (3rem);}}
        }
        .nav__login--container{
            ul{.goback {
                    @include font (2rem);
                    position: absolute;
                    z-index: 1;
                    top: 15px;
                    left: 30px; 
                }}
        }
        .nav__second {
            padding: 1.5rem 0rem 1rem 0rem;
            ul {@include font (1.2rem);letter-spacing: 0px;}
        }
       
    }

}

/* TABLET */

@media only screen and (min-width: 601px) and (max-width: 1100px) {

    .nav__second {
        padding: 1.5rem 0rem 1rem 0rem;
        ul {@include font (1.3rem);letter-spacing: 0px;}
    }

}