<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirse Fashion</title>
    <!-- SEO -->
    <meta name="description"
    content="Vestidos lalalala">
    <meta name="keywords" content="dress, vintage, casual, fashion">
    <!-- Link para logos redes sociales FONTAWESOME -->
    <script src="https://kit.fontawesome.com/e360217846.js" crossorigin="anonymous"></script>
    <!-- Links Google Fonts -->
        <!-- Poppins -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <!-- Lora -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">   
    <!-- Link Animaciones AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Link Boostrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Link nuestro CSS -->
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
    <!-- Start Nav -->
    <nav>
        <div class="container-fluid" style="padding: 0px !important; margin:0px !important;">
                <div class="row" style="padding: 0px !important; margin:0px !important;">
                    <div class="col-12 col" style="padding: 0px !important; margin:0px !important;">
                        <div class="nav__first">
                            <ul class="nav__logo">
                                <li class="nav__logoprincipal"><a href="../index.html">CIRSE</a></li>
                            </ul>
                        </div>
                </div>
        </div>
    </div>
    <!-- End Nav -->

    <!-- Checkout Comienzo -->
    <div class="container-fluid created">
        <div class="row">
            <div class="col-12 col">
                    <div class="wrapper">
                        <div class="container">
                            <form action="">
                                <h1>
                                    <i class="fas fa-shipping-fast"></i>
                                    Shipping Details
                                </h1>
                                <div class="name">
                                    <div>
                                        <label for="f-name">First</label>
                                        <input type="text" name="f-name">
                                    </div>
                                    <div>
                                        <label for="l-name">Last</label>
                                        <input type="text" name="l-name">
                                    </div>
                                </div>
                                <div class="street">
                                    <label for="name">Street</label>
                                    <input type="text" name="address">
                                </div>
                                <div class="address-info">
                                    <div>
                                        <label for="city">City</label>
                                        <input type="text" name="city">
                                    </div>
                                    <div>
                                        <label for="state">State</label>
                                        <input type="text" name="state">
                                    </div>
                                    <div>
                                        <label for="zip">Zip</label>
                                        <input type="text" name="zip">
                                    </div>
                                </div>
                                <br>
                                <h1>
                                    <i class="far fa-credit-card"></i>
                                    Payment Information
                                </h1>
                                <div class="cc-num">
                                    <label for="card-num">Credit Card No.</label>
                                    <input type="text" name="card-num">
                                </div>
                                <div class="cc-info">
                                    <div>
                                        <label for="card-num">Exp</label>
                                        <input type="text" name="expire">
                                    </div>
                                    <div>
                                        <label for="card-num">CCV</label>
                                        <input type="text" name="security">
                                    </div>
                                </div>
                                <div class="btns">
                                    <button>PURCHASE</button>
                                    <button><a href="./cart.html">BACK TO CART</a></button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!-- Checkout Final -->

    <!-- Start Created by -->
    <div class="container-fluid created">
        <div class="row">
            <div class="col-12 col">
                <p>Created by Lucia Dias</p>
                <p><a href="https://github.com/diaslucia">https://github.com/diaslucia</a></p>
            </div>
        </div>
    </div>
    <!-- End Created by -->

    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="../js/data.js"></script>
    <script src="../js/clases.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
