<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirse Fashion</title>
    <!-- SEO -->
    <meta name="description"
    content="Vestidos lalalala">
    <meta name="keywords" content="dress, vintage, casual, fashion">
    <!-- Link para logos redes sociales FONTAWESOME -->
    <script src="https://kit.fontawesome.com/e360217846.js" crossorigin="anonymous"></script>
    <!-- Links Google Fonts -->
        <!-- Poppins -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <!-- Lora -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">   
    <!-- Link Animaciones AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Link Boostrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Link nuestro CSS -->
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
    <!-- Start Nav -->
    <nav>
        <div class="container-fluid" style="padding: 0px !important; margin:0px !important;">
                <div class="row" style="padding: 0px !important; margin:0px !important;">
                    <div class="col-12 col" style="padding: 0px !important; margin:0px !important;">
                        <div class="nav__first">
                            <ul class="nav__logo">
                                <li class="nav__logoprincipal"><a href="../index.html">CIRSE</a></li>
                            </ul>
                        </div>
                        <div class="nav__login--container">
                            <ul>
                                <li><a href="./cart.html"><i id="shoppingcart" class="fas fa-shopping-cart"></i></a></li>
                                <a href="./cart.html"><li class="circle">0</li></a>
                            </ul>
                        </div>
                </div>
                <div class="row" style="padding: 0px !important; margin:0px !important;">
                    <div class="col-12 col" style="padding: 0px !important; margin:0px !important;">
                        <div class="nav__second">
                            <ul>
                                <li><a href="../index.html">Home</a></li>
                                <li id="newcollection__tab"><a href="./newcollection.html">New Collection</a></li>
                                <li><a href="./dresses.html">Dresses</a></li>
                                <li><a href="./accesories.html">Accesories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- End Nav -->

    <!-- Start Comprar -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-3 col-xxl-3 newcollection__container">
                <div class="newcollection__titles">
                    <h1 class="title">LOVELESS</h1>
                    <h2 class="subtitle">New Collection</h2>
                </div>
                <div class="newcollection__slider">
                    <div class="slider slider1 showSlide">
                        <img id="500" src="../assets/img/newcollectionslider (2).jpg">
                    </div>
                    <div class="slider">
                        <img id="501" src="../assets/img/newcollectionslider (1).jpg">
                    </div>
                    <div class="newcollection__arrows">
                        <button id="newcollection__left"><</button>
                        <button id="newcollection__right">></button>
                    </div>
                </div>
                <div>
                    <p class="poem">"When the war of the beasts brings about the world's end,
                        The goddess descends from the sky,
                        Wings of light and dark spread afar,
                        She guides us to bliss, her gift everlasting"</p>
                </div>
            </div>
            <div class="col-12 col-xl-9 col-xxl-9">
                <img class="newcollection__img" src="../assets/img/newcollection1.jpg"/>
            </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="banner">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="newcollection__last">
                    <div class="newcollection__poems">
                    <p class="poem1">"There is no hate, only joy,
                        For you are beloved by the goddess,
                    <p class="poem2">Hero of the dawn,</p>
                    <p class="poem3">Healer of worlds"</p>
                    <p class="poem4">- Loveless</p>
                    </div>
                    <img class="lastimg lastimg1" src="../assets/img/newcollectionlast.jpg"/>
                    <img class="lastimg lastimg2" src="../assets/img/newcollectionlast2.jpg"/>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- End Comprar -->

    <!-- Start footer -->
    <div class="container-fluid footer">
        <div clas="row">
          <div class="footer__container">

            <!-- Logo -->
            <div class="col-3">
                <div class="footer__div">
                    <h3 class="footer__logo">CIRSE</h3>
                </div>
            </div>

            <!-- Social Media -->
            <div class="col-3">
                <ul class="footer__media">
                    <li class="footer__media--title">FOLLOW US</li>
                    <ul class="footer__media2">
                        <li><a><i class="fab fa-instagram-square"></i></a></li>
                        <li><a><i class="fab fa-facebook-square"></i></a></li>
                        <li><a><i class="fab fa-pinterest-square"></i></a></li>
                        <li><a><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </ul>
            </div>
        
            <!-- Orders and Return-->
            <div class="col-3">
                <ul class="footer__return">
                    <li class="footer__return--title">ORDERS AND RETURNS</li>
                    <li><a href="">Order Status</a></li>
                    <li><a href="">Shipping Information</a></li>
                    <li><a href="">Return Policy</a></li>
                </ul>
            </div>

            <!-- Help -->
            <div class="col-3">
                <ul class="footer__help">
                        <li class="footer__help--title">HELP</li>
                        <li><a href="">Costumer Service</a></li>
                        <li><a href="">Live Chat</a></li>
                        <li><a href="">Find a Store</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- End footer -->

    <!-- Start Created by -->
    <div class="container-fluid created">
        <div class="row">
            <div class="col-12 col">
                <p>Created by Lucia Dias</p>
                <p><a href="https://github.com/diaslucia">https://github.com/diaslucia</a></p>
            </div>
        </div>
    </div>
    <!-- End Created by -->

    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="../js/clases.js"></script>
    <script src="../js/newcollection.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
