@import "../main/color";
@import "../main/flex";
@import "../main/fonts";
@import "../main/general";

body {
    background-color: $base-color;
}

.cart__container {
    @include flex2(column, flex-start, flex-start);
    padding: 1rem;
    .cart__div {
        @include flex(row, space-evenly);
        margin: 1rem;
        img {width: 100px;}
        .dresses__cart--title {
            @include font(1.5rem);
            margin: 1rem;
            color: $dark;
        }
        .dresses__cart--price {
            @include font(1.5rem);
            margin: .5rem;       
        }
    }
}

.cart__container--price {
    margin-left: 13rem;
    margin-top: .5rem;
    .subtotal {
        @include font(1.5rem);
        color: $dark;
        margin-bottom: 0rem;
    }
    button {
        @include font(1.6rem);
        text-transform: uppercase;
        border: 0rem;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        padding: 1rem;
        transition: 1s;
        margin:auto;
        &:hover{color: $dark;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
        } &:active{
            box-shadow: inset -1px -1px 6px rgba(105, 93, 66, 0.52);
        }
    }
    .subtotal__coupon {
        margin-bottom: 1.5rem;
        #coupon {
            @include font(1.5rem);
            border: 1px solid $secondary-color;
            border-radius: 4px;
            color: $secondary-color;
            background-color: $base-color;
            text-align: center;
            width: 13rem;
            height: 3rem;
        }
        #submit {
        @include font(1.5rem);
        border: 0rem;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        margin: 1rem 0rem;
        padding: .4rem;
        transition: 1s;
        margin:auto;
        }
        #form__alert {
            @include font(1.2rem);
            color: rgb(168, 35, 35);
            margin: 0rem;
            padding-top: .5rem;
            display: none;
        }
    }
}


// Empty Cart

.cart__empty {
    @include flex(column, center);
    align-items: center;
    padding: 5rem;
    .emptyCart___title {
        @include font(2rem);
        color: $dark;
    }
    .button__emptyCart {
        @include font(1.6rem);
        text-transform: uppercase;
        border: 0rem;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        padding: 1rem;
        transition: 1s;
        margin:auto;
        &:hover{color: $dark;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
        } &:active{
            box-shadow: inset -1px -1px 6px rgba(105, 93, 66, 0.52);
        }

    }
}

// Calculadora

.calc {
    @include flex2(row, center, stretch);
    margin: 1rem;
    border:2px solid $secondary-color;
    width: auto;
    height: auto;
    .calc__plus {
        @include font(1.6rem);
        text-transform: uppercase;
        border: 0rem;
        border-right: 2px solid $secondary-color;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        padding: 0rem .5rem;
        transition: 1s;
        margin: 0rem;
        &:hover{color: $dark;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
        } &:active{
            box-shadow: inset -1px -1px 6px rgba(105, 93, 66, 0.52);
        }
    }
    .calc__number {
        @include font(1.5rem);
        color: $secondary-color;
        padding: 0rem 1rem;
        margin-bottom: -.5rem;
    }
    .calc__minus {
        @include font(1.6rem);
        text-transform: uppercase;
        border: 0rem;
        border-left: 2px solid $secondary-color;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        padding: 0rem .5rem;
        transition: 1s;
        margin: 0rem;
        &:hover{color: $dark;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
        } &:active{
            box-shadow: inset -1px -1px 6px rgba(105, 93, 66, 0.52);
        }
    }
}

@media only screen and (max-width: 600px) {

    .cart__container {
        .cart__div {
            @include flex(row, center);
            margin: .5rem 0rem;
            img {width: 50px;}
            .dresses__cart--title {
                @include font(1rem);
                margin: 0rem .3rem;
            }
            .dresses__cart--price {
                @include font(1rem);
                margin: 0rem .3rem 0rem 0rem;       
            }
        }
    }
    
    .cart__container--price {
        margin-left: 1rem;
        margin-top: .5rem;
        .subtotal {
            @include font(1.2rem);
        }
        button {
            @include font(1.2rem);
            padding: .5rem 1rem;
        }
        .subtotal__coupon {
            margin-bottom: 1.2rem;
            #coupon {
                @include font(1.2rem);
                width: 10rem;
                height: 3rem;
            }
            #submit {
            @include font(1.2rem);
            margin: 1rem 0rem;
            padding: .4rem;
            transition: 1s;
            margin:auto;
            }
            #form__alert {
                @include font(1.2rem);
                color: rgb(168, 35, 35);
                margin: 0rem;
                padding-top: .5rem;
                display: none;
            }
        }
    }
    
    
    // Empty Cart
    
    .cart__empty {
        padding: 5rem 0rem;
        .emptyCart___title {
            @include font(1.8rem);
            text-align: center;
        }
        .button__emptyCart {
            @include font(1.2rem);
        }
    }
 
// Calculadora

.calc {
    @include flex2(row, center, stretch);
    margin: 0rem;
    .calc__plus {
        @include font(1.2rem);
        padding: 0rem .5rem;
    }
    .calc__number {
        @include font(1.2rem);
        padding: 0rem 1rem;
        margin-top: .3rem;
    }
    .calc__minus {
        @include font(1.6rem);
        padding: 0rem .5rem;
    }
}
}