@import "../main/color";
@import "../main/flex";
@import "../main/fonts";
@import "../main/general";

body {
    background-color: $base-color;
}

.cart__container {
    @include flex2(column, flex-start, flex-start);
    padding: 1rem;
    .cart__div {
        @include flex(row, space-evenly);
        margin: 1rem;
        img {width: 100px;}
        .dresses__cart--title {
            @include font(1.5rem);
            margin: 1rem;
            color: $dark;
        }
        .dresses__cart--price {
            @include font(1.5rem);
            margin: .5rem;       
        }
    }
}

.cart__container--price {
    margin-left: 13rem;
    .subtotal {
        @include font(1.5rem);
        color: $dark;
    }
    button {
        @include font(1.6rem);
        text-transform: uppercase;
        border: 0rem;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        padding: 1rem;
        transition: 1s;
        margin:auto;
        &:hover{color: $dark;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
        } &:active{
            box-shadow: inset -1px -1px 6px rgba(105, 93, 66, 0.52);
        }
    }
}


// Empty Cart

.cart__empty {
    @include flex(column, center);
    align-items: center;
    padding: 5rem;
    .emptyCart___title {
        @include font(2rem);
        color: $dark;
    }
    .button__emptyCart {
        @include font(1.6rem);
        text-transform: uppercase;
        border: 0rem;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        padding: 1rem;
        transition: 1s;
        margin:auto;
        &:hover{color: $dark;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
        } &:active{
            box-shadow: inset -1px -1px 6px rgba(105, 93, 66, 0.52);
        }

    }
}

// Calculadora

.calc {
    @include flex2(row, center, stretch);
    margin: 1rem;
    border:2px solid $secondary-color;
    width: auto;
    height: auto;
    .calc__plus {
        @include font(1.6rem);
        text-transform: uppercase;
        border: 0rem;
        border-right: 2px solid $secondary-color;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        padding: 0rem .5rem;
        transition: 1s;
        margin: 0rem;
        &:hover{color: $dark;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
        } &:active{
            box-shadow: inset -1px -1px 6px rgba(105, 93, 66, 0.52);
        }
    }
    .calc__number {
        @include font(1.5rem);
        color: $secondary-color;
        padding: 0rem 1rem;
        margin-bottom: -.5rem;
    }
    .calc__minus {
        @include font(1.6rem);
        text-transform: uppercase;
        border: 0rem;
        border-left: 2px solid $secondary-color;
        border-radius: 5%;
        background-color: $beige;
        color: $secondary-color;
        padding: 0rem .5rem;
        transition: 1s;
        margin: 0rem;
        &:hover{color: $dark;
            box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
        } &:active{
            box-shadow: inset -1px -1px 6px rgba(105, 93, 66, 0.52);
        }
    }
}

