@import "../main/color";
@import "../main/flex";
@import "../main/fonts";
@import "../main/general";

body {
    background-color: $base-color;
}

/* Carousel */

.carousel {
    display:block;
    margin:auto;
    width: 100%;
}

/* Coupon */

.coupon {
    width: 35%;
    display:block;
    margin:auto;
    padding: 2.5rem;
}

/* New Collection */

.new__container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(58, 58, 58, 0.51);}

.new__container {
    position: relative;
    margin: 2rem 0rem;
    background-image: url("../../assets/img/new-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .new__info{
        @include flex (column, center);
        h1 {
            position: relative;
            letter-spacing: .5rem;
            color: $beige;
            @include serif(3.5rem);
        }
        h2 {
            position: relative;
            @include serif(2rem);
            color: $beige;
            margin-bottom: 1rem;
            letter-spacing: .3rem;
        }
        button {
            position: relative;
            @include font(1.5rem);
            border: 0rem;
            border-radius: 5%;
            background-color: $dark;
            color: $beige;
            padding: .5rem 4rem;
            letter-spacing: .3rem;
        }
    }
    
    .new__img1 {
        width: 70%;
        margin: 3rem 0rem 1rem 3rem;
        box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
    }
    .new__img2 {
        width: 70%;
        margin: 9rem 0rem 1rem 2rem;
        box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
    }
    .new__img3 {
        width: 70%;
        margin: 15rem 0rem 3rem 1rem;
        box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
    }

}

/* Cards FUTURO CAROUSEL */



/* New In */

.newin__secondary:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(58, 58, 58, 0.50);}

.newin {
  @include flex(row, center);
  .newin__main {
    @include flex(row, center);
    img {
      height: 750px;
    }
  }
  .newin__secondary {
    @include flex(column,center);
    position: relative;
    height: 750px;
    margin: 2rem;
    background-image: url("../../assets/img/wallpaper-newIn.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    .newin__info {
      position: relative;
      h3{
        @include serif(3.5rem);
        letter-spacing: .5rem;
        color: $beige;
        text-align: center;
        text-transform: uppercase;
      }
      hr {
        color: $beige;
      }
      p {
        @include serif(2.5rem);
        letter-spacing: .5rem;
        color: $beige;
        text-align: center;
      }
    }

    .newin__img {
      @include flex(row, space-around);
      position: relative;
      img {
        width: 210px;
        margin: 10rem 3rem 0rem 3rem;
        box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
      }
      }
  }
}


/* Sliders */

.cards__title {
  margin: 3rem 0rem 5rem 0rem;
  h1 {
      @include serif(3.5rem);
      color: $dark; 
      text-align: center;
  }
}

.carousel {
  overflow: hidden;
  position: relative;
  @include flex(row, center);
  .carousel__item {
    display: none;
    .cards{
      @include flex(column, center);
      margin: 3rem;
      img{
        width: 19rem;
        margin: 1rem;
        height: auto;
        box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
      }
      p {
        @include font(1.8rem);
        color: $pink;
        text-align: center;
        margin: 0rem;
      }
      .cards__price {
          @include font(1.2rem);  
          margin: 0rem;
      }
      .carousel__button {
        @include font(1.5rem);
        border: 0rem;
        border-radius: 5%;
        background-color: $pink;
        color: $base-color;
        padding: .5rem;
        transition: .5s;
        margin:.5rem 0rem 2rem 0rem;
        &:hover{
            background-color: $light-pink;
            color: $pink;
        }
      }
    }
  }
  .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
    @include flex(row, center);
  }

  .carousel__actions {
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    button {
      @include font(3rem);
      background-color: rgba(0,0,0,0);
      color: $secondary-color;
      border-radius: 50px;
      border: 0;
      cursor: pointer;
      width: 40px;
      height: 40px;
    }
    #carousel__button--prev {margin-left: 20px;}
    #carousel__button--next {margin-right: 20px;}
  }
}


@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}