@import "../main/color";
@import "../main/flex";
@import "../main/fonts";
@import "../main/general";

body {
    background-color: $base-color;
}

.newcollection__container {
    @include flex(column, center);
    .newcollection__titles {
        @include flex(column, center);
        margin: 4rem;
        .title {
            text-align: center;
            letter-spacing: 1rem;
            color: $beige;
            @include serif(2.8vw);
            transition: 5s;
        }
        .subtitle {
            @include serif(1.2vw);
            color: $secondary-color;
            margin-bottom: 1rem;
            letter-spacing: .3rem;
            display:none;
        }
    }
    .newcollection__slider {
        @include flex(row, center);
        margin: 1rem;
        overflow: hidden;
        position: relative;
        .slider {
            display: none;
            img {
                width: 15vw;
                margin: 2rem;
                transition: 2s;
            }
        }
        .newcollection__arrows {
            display: flex;
            width: 100%;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            button {
                cursor: pointer;
                @include font(2.5rem);
                border: 0rem;
                background-color: $base-color;
                color: $secondary-color;
                margin:.5rem 0rem 2rem 0rem;
                }
        }
        .showSlide {display:block;}
    }
    .poem {
        width: 25vw;
        padding: 4rem;
        @include serif(.9vw);
        color: $secondary-color;
        text-align: center;
        font-style: italic;
    }
}

.poem {
    padding: 4rem;
    @include serif(.9vw);
    color: $secondary-color;
    text-align: center;
    font-style: italic;
}

.newcollection__img{
    width: 100%;
    filter: saturate(.3);
    transition: filter 2s;
    margin-bottom: 4rem;
}


.banner {
    margin: 1rem 0rem;
    @include flex(row, center);
    .banner__img{
        width:12vw;
        height: auto;
        margin: 1rem;
        transition: 2s;
        filter: grayscale(40%);
        &:hover {
            transform: scale(1.03,1.03);
            cursor: pointer;
            filter: grayscale(0%);
        }
    }
}

.newcollection__last {
    @include flex(row, center);
    margin-top: 2rem;;
    .newcollection__poems {
        @include flex(column, center);
        background-color: #f3f3ef;
        box-shadow:  5px 5px 0px #f1f1ed,
        -5px -5px 0px #f5f5f1;
        margin: 3rem;
        padding: 5rem;
        .poem1 {
            @include serif(.9vw);
            color: $secondary-color;
            font-style: italic;
        }  
        .poem2 {
            @include serif(1vw);
            color: $dark;
            letter-spacing: .5rem;
            text-align: center;
            font-style: italic;
            margin-left: 5rem;
            margin-bottom: 0rem;
        }
        .poem3 {
            @include serif(1vw);
            color: $secondary-color;
            letter-spacing: .5rem;
            text-align: center;
            font-style: italic;
            margin-left: 10rem;
            margin-bottom: 0rem;
        }
        .poem4 {
            @include serif(.9vw);
            color: $secondary-color;
            font-style: italic;
            margin-top: 3rem;
        }
    }
    .lastimg {
        width: 25vw;
        padding: 2rem;
    }
    
}

/* MOBILE */

@media only screen and (max-width: 600px) {

    .newcollection__container {
        .newcollection__titles {
            margin: 3rem 0rem 1rem 0rem;
            .title {
                letter-spacing: .1rem;
                @include serif(2rem);
            }
            .subtitle {
                @include serif(1.2rem);
                margin-bottom: .5rem;
                letter-spacing: .1rem;
                display:none;
            }
        }
        .newcollection__slider {
            margin: 0rem;
            .slider {
                display: none;
                img {
                    width: 200px;
                    margin: 0rem 3rem;
                }
            }
            .newcollection__arrows {
                width: 100%;
                button {
                    @include font(2.5rem);
                    margin:.5rem 0rem rem 0rem;
                    }
            }
            .showSlide {display:block;}
        }
        .poem {
            width: 70vw;
            margin: 0rem 2rem;
            @include serif(1.2rem);
        }
    
    }
    
    .poem {
        margin: 0rem;
        @include serif(1.2rem);
        padding: 0rem 1.5rem;
        text-align: justify;
    }

    .newcollection__img{
        width: 100%;
        filter: saturate(.3);
        transition: filter 2s;
    }
    
    .banner {
        .banner__img{
            width:150px;
            margin: .5rem;
            filter: grayscale(0%);
        }
        .banner__img4{display:none;}
        .banner__img3{display:none;}
        .banner__img2{display:none;}
        .banner__img5{display:none;}
    }
    
    .newcollection__last {
        margin-top: 2rem;
        margin-bottom: 2rem;
        .newcollection__poems {
            background-color:$base-color;
            box-shadow: none;
            margin: .5rem;
            padding: 1.5rem;
            .poem1 {
                @include serif(1.2rem);
                text-align: justify;
            }  
            .poem2 {
                @include serif(1.2rem);
                letter-spacing: 0rem;
                margin-left: 1rem;
                margin-bottom: 0rem;
            }
            .poem3 {
                @include serif(1.2rem);
                letter-spacing: 0rem;
                margin-left: 2rem;
                margin-bottom: 0rem;
            }
            .poem4 {
                @include serif(1rem);
                margin-top: 3rem;
            }
        }
        .lastimg {
            width: 150px;
            padding: 0rem;
            margin: 0rem;
        }
        .lastimg2{display:none;}
        
    }
}

/* TABLET */

@media only screen and (min-width: 601px) and (max-width: 1100px) {
    .newcollection__container {
        .newcollection__titles {
            margin: 3rem 0rem 1rem 0rem;
            .title {
                letter-spacing: .1rem;
                @include serif(2.2rem);
            }
            .subtitle {
                @include serif(1.4rem);
                margin-bottom: .5rem;
                letter-spacing: .1rem;
                display:none;
            }
        }
        .newcollection__slider {
            margin: 0rem;
            .slider {
                display: none;
                img {
                    width: 200px;
                    margin: 0rem 3rem;
                }
            }
            .newcollection__arrows {
                width: 100%;
                button {
                    @include font(2.8rem);
                    margin:.5rem 0rem rem 0rem;
                    }
            }
            .showSlide {display:block;}
        }
        .poem {
            width: 50vw;
            margin: 0rem 2rem;
            @include serif(1.4rem);
        }
    
    }
    
    .poem {
        width: 50vw;
        margin: 0rem;
        @include serif(1.4rem);
        padding: 0rem 1rem;
    }
    
    .newcollection__img{
        width: 100%;
        filter: saturate(.3);
        transition: filter 2s;
    }

    .banner {
        .banner__img{
            width:250px;
            margin: .5rem;
            filter: grayscale(0%);
        }
        .banner__img4{display:none;}
        .banner__img3{display:none;}
        .banner__img2{display:none;}
        .banner__img5{display:none;}
    }
    
    .newcollection__last {
        margin-top: 2rem;
        margin-bottom: 2rem;
        .newcollection__poems {
            background-color:$base-color;
            box-shadow: none;
            margin: .5rem;
            padding: 1.5rem;
            .poem1 {
                @include serif(1.4rem);
            }  
            .poem2 {
                @include serif(1.4rem);
                letter-spacing: 0rem;
                margin-left: 1rem;
                margin-bottom: 0rem;
            }
            .poem3 {
                @include serif(1.4rem);
                letter-spacing: 0rem;
                margin-left: 2rem;
                margin-bottom: 0rem;
            }
            .poem4 {
                @include serif(1.2rem);
                margin-top: 3rem;
            }
        }
        .lastimg {
            width: 250px;
            padding: 0rem;
            margin: 0rem;
        }
        .lastimg2{display:none;}
        
    }
}